{% extends 'base.html.twig' %}

{% block title %}Camden Town Brewery{% endblock %}

{% block body %}

    <div class="homepage-hero">
        <ul class="hero-beer-details">
            <li class="beer-detail">
                <img src="{{ asset('images/gifs/ctb-animated.gif') }}" alt="">
                <h2>Great beer lives here.</h2>
            </li>
        </ul>
        <ul class="hero-beer-list">
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/hells.png') }}" alt="Hell lager">
                    <h3>Classic + Crisp + <br>Refreshing</h3>
                </a>
            </li>
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/pale.png') }}" alt="Hell lager">
                    <h3>Hoppy + Fruity + <br>Dry</h3>
                </a>
            </li>
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/week_nite.png') }}" alt="Hell lager">
                    <h3>Crisp + Hoppy + <br>Lighter</h3>
                </a>
            </li>
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/show_off.png') }}" alt="Hell lager">
                    <h3>Juicy + Hazy + <br>Hoppy</h3>
                </a>
            </li>
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/gentlemans_wit.png') }}" alt="Hell lager">
                    <h3>Citrus + Hazy + <br>Refreshing</h3>
                </a>
            </li>
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/ink.png') }}" alt="Hell lager">
                    <h3>Dark + Hoppy + <br>Smooth</h3>
                </a>
            </li>
            <li class="hero-beer-item">
                <a href="#">
                    <img src="{{ asset('images/beers/harvest.png') }}" alt="Hell lager">
                    <h3>Crisp + Malty + <br>Rich</h3>
                </a>
            </li>
        </ul>
        <div class="text-center pb-5 pb-md-0 my-0 my-md-5">
            <a class="button-primary" href="#">Meet the Beers</a>
        </div>
    </div>



{% endblock %}
